h1 {
  font-family: "Courier New", Monospace, serif;
  color: #222809;
  text-align: center;
  letter-spacing: 40px;
  text-shadow: 3.5px 3px #a9249b;
  font-size: 50px;
}

h2 {
  font-family: "Courier New", Monospace, serif;
  color: #222059;
  padding:10px;
  text-align: center;
  letter-spacing: 40px;
  text-shadow: 3px 3px #c9244b;
  font-size:30px;
}

#HH3 {
  font-size: 30px;
}

#hi { background-color: #edbbbb;
font-size: 25px;
color: #5e3d3d;
}
p {
  color:white;
  font-size: 20px;
}
#introduction {
  background-color: #51cfb4;
}
h2 {
  color: pink;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

table, th, td {
  border: 1px solid black;
  border-color: white;
}


#listproject {
  background-color: #aabf8c;
}

img {
  padding:20px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
